@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,300;0,400;0,600;0,700;1,200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Kanit', sans-serif;
    background-image: url("../images/bg.jpg");
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* faded opening */
body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
 
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
/* faded opening */

.dropbtn {
    background-color: transparent;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #000;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 12px; 
  }

  .dropdown-content .selectedlang{
    cursor: not-allowed;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #fff; color: #000;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  

::selection {
    color: white;
    background-color: #292929;
  }

a{
    color: white;
}

.container{
    width: 100%;
    margin: auto;
    transition: ease 0.5s;
}



/* scrollbar start */

/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #222; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #333; 
  }
  

/* scrollbar end */

/* fullscreen social start */

.overlay {
    height: 0%;
    opacity: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    column-gap: 16px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #fff;
    display: block;
    transition: 0.3s;
  }

  .overlay p{
    display: flex;
    padding-top: 300px;
    color: white;
    justify-content: center;
  }
  
  .overlay a:hover, .overlay a:focus {
    text-shadow: 0 0 20px #fff;
  }
  

  
  @media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
  }

/* fullscreen social end */

/* header start */
header{
    height: 100px;
    width: 100px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    position: fixed;
}

header nav{
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    transition: ease 0.5s;
    
}

header nav .logo a{
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 25px;
    margin-left: 30px;
}

nav ul{
    list-style: none;
    display: flex;
    column-gap: 30px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    transition: ease 0.3s;
}

nav .menu {
    display: contents;
    align-items: center;
    column-gap: 48px;
}

nav .menu .menu-button{
    color: #fff;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.08);
    padding: 12px 24px;
    border-radius: 10px;
    transition: ease 0.5s;
    margin-right: 10px;
    
}

nav .menu .menu-button:hover{
    color: #000;
    background-color: rgba(255, 255, 255, 1);
    
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    
  }
  
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #c212d2;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

/* header end */

/* intro start */
.content{
    color: white;
    height: calc(100vh - 100px);
    padding-top: 150px;
}

.content h1{
    font-size: 60px;
    text-align: center;
}

.content h3{
    font-size: 25px;
    text-align: center;
}

.content .select{
    color: white;
    background-color: #292929;
}

.content p{
    font-size: 24px;
    text-align: center;
    margin-top: 32px;
}

.content .links{
    display: flex;
    justify-content: center;
    margin-top: 48px;
    column-gap: 16px;
    text-transform: uppercase;
}

.content .links a{
    background-color: white;
    padding: 20px;
    width: 280px;
    color: black;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    border-radius: 20px;
    transition: all 0.3s;
}

.content .links a:hover{
    background-color: black;
    color: white;
    transition: all 0.3s;
}
/* intro end */

/* progress bars start */

.skillsarea{
    width: 400px;
    height: 205px;
    background-color: #080808;
    margin: auto;
    border-radius: 20px;
    box-shadow: 2px 2px 10px #000;

}

.skillcontainer {
    align-items: center;
    justify-content: center;
    width: auto;
    height: 15px;
    background-color: #101010;
    border-radius: 10px;
 }
 .css, .html, .python, .java, .cs {
    
    text-align: center;
    font-weight: bold;
    color: #000;
    border-radius: 10px;
    height: 15px;
    font-size: 10px;
 }
 .html {
    width: 40%;
    background: #e34c26;
 }
 .java {
    width: 5%;
    background: #f89820;
 }
 .python {
    width: 65%;
    background: #306998;
 }
 .cs {
    width: 60%;
    background: #280068;
 }
 .css {
    width: 30%;
    background: #264de4;
 }

/* progress bars end */

/* about start */

.aboutcontent {
    width: 100%;
    height: 900px;
    margin-top: 100px;
    background-color: #080808;
    background: #080808;
    background: linear-gradient(143deg, #080808 0%, rgba(194,18,210,1) 600%);
    box-shadow: -2px -2px 20px black;
}

.aboutcontent p{
    text-align: center;
    color: white;
}

.aboutmehead {
    font-size: 3rem;
    font-weight: bold;
    padding-top: 100px;
    text-transform: uppercase;
}

.about{
    font-size: 2rem;
    text-align: center;
    padding-top: 100px;
    text-transform: uppercase;
}
/* about end */

/* contact form start */

.contactcontent {
    width: 100%;
    height: 900px;
    margin-top: 100px;
    background-color: #080808;
    background: #080808;
    background: linear-gradient(143deg, #080808 0%, rgba(194,18,210,1) 600%);
    box-shadow: -2px -2px 20px black;
}

.contactcontent p{
    text-align: center;
    color: white;
}

.contacthead {
    font-size: 3rem;
    font-weight: bold;
    padding-top: 100px;
    text-transform: uppercase;
}

.contactdesc{
    font-size: 2rem;
    text-align: center;
    padding-top: 100px;
    text-transform: uppercase;
}

/* contact form end */

.content2{
    width: 100%;
    height: 900px;
    background: rgba(0, 0, 0, 0.5);
}

.footer{
    width: 100%;
    height: 101px;
    background: rgba(0, 0, 0, 1);
    box-shadow: -2px -2px 20px black;
    color: white;
    font-size: 12px;
    text-align: center;
}

.footer .footereasteregg{
    color: black;
}

.backtotop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 8px;
    border-radius: 5px;
    font-size: 15px;
    transition: 0.2s ease;
  }
  
  .backtotop:hover {
    background-color: transparent;
    color: #fff;
    text-shadow: 0px 0px 10px white;
    transition: 0.2s ease;
  }

.footer .footertext{
    padding-top: 20px;
}

.footer .love{
    padding-top: 7px;
}





/* responsive start */
@media(max-width:705px){
    
    header {
        position: fixed;
    }

    .dropdown{
        padding-right: 50px;
    }

    .typecontainer p {
        font-size: 3rem;
        padding: 0.5rem;
        font-weight: bold;
        letter-spacing: 0.1rem;
        text-align: center;
        overflow: hidden;
    }

    .container{
        width: 100%;
        transition: ease 0.5s;
    }

    .menu ul{
        column-gap: 20px;
        transition: ease 0.5s;
        padding-right: 10px;
    }

    .menu .menu-button{
        display: none;
        transition: ease 0.5s;
    }

    .content {
        padding-top: 150px;
        transition: ease 0.5s;
    }

    .content h1 {
        font-size: 36px;
        transition: ease 0.5s;
    }

    .content p{
        font-size: 16px;
        transition: ease 0.5s;
    }

    .content .links a{
        padding: 14px;
        width: 90%;
        transition: ease 0.5s;
    }

    .content .links{
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
        transition: ease 0.5s;
    }
}

@media(max-width:533px){

    .dropdown{
        padding-right: 25;
    }
    header nav .logo a{
        font-size: 13px;
        transition: ease 0.5s;
        
    }
    /* asdasd */
    .container{
        width: 100%;
        transition: ease 0.5s;
    }

    .menu ul{
        column-gap: 10px;
        transition: ease 0.5s;
        padding-left: 2rem;
        font-size: 13px;
        
    }

    .menu .menu-button{
        display: none;
        transition: ease 0.5s;
    }

    .content {
        padding-top: 150px;
        transition: ease 0.5s;
    }

    .content h1 {
        font-size: 30px;
        transition: ease 0.5s;
    }

    .content p{
        font-size: 14px;
        transition: ease 0.5s;
    }

    .content .links a{
        padding: 14px;
        width: 50%;
        transition: ease 0.5s;
    }

    .content .links{
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
        transition: ease 0.5s;
    }
}

.mergedisplay {
    display: none;
}

@media(max-width:422px){
    

    .mergedisplay{
        transition: 0.5s;
        display: inline;
        color: black;
        background-color: red;
    }
}
/* responsive end */
/* typewriter start */

.typecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .typecontainer p {
    font-size: 2rem;
    padding: 0.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
  }

  @media(max-width:705px){
    .typecontainer p{
        font-size: 1.5rem;
    }
}
  .typecontainer p span.typed-text {
    font-weight: normal;
    color: #000;
    text-shadow: 0 0 7px #000;
  }
  .typecontainer p span.cursor {
    display: inline-block;
    background-color: #000;
    margin-left: 0.1rem;
    width: 2px;
    animation: blink 1s infinite;
  }
  .typecontainer p span.cursor.typing {
    animation: none;
  }
  @keyframes blink {
    0%  { background-color: #000; }
    49% { background-color: #000; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #000; }
  }

/* typewriter end */
